{% extends "base.html" %}

{% block content %}
    <h1>Add a New Product</h1>
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="id_product_name">Product Name:</label>
        {{ form.product_name }}
        <label for="id_product_quantity">Product Quantity:</label>
        {{ form.product_quantity }}
        <button type="submit">Save</button>
    </form>
{% endblock content %}
